In [12]:
for i in range(1,4,1):
  print("컴퓨터과",i,"반")

컴퓨터과 1 반
컴퓨터과 2 반
컴퓨터과 3 반

In [28]:
for i in range(1,4,1):
  print("컴퓨터과",i,"반")

컴퓨터과 1 반
컴퓨터과 2 반
컴퓨터과 3 반

In [34]:
a = 1;
for i in range(1,6,1):
  a = a*i
print("A,B,C,D,E 학생을 일렬로 서면:",a)

A,B,C,D,E 학생을 일렬로 서면: 120

In [40]:
sum = 0

for i in range(1001,2001,2):
  sum = sum+i
print(sum)

750000

In [41]:
sum = 0

for i in range(1001,2001,2):
  if i%2 == 1:
    sum = sum + i
print(sum)

750000

In [44]:
i, hap = 0, 0
for i in range(500,1001,2):
  hap = hap+i
print(hap)

188250

In [54]:
for i in range(3):
  for k in range(3):
    print(i,k)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2

In [84]:
for i in range(1,10,1):
 for k in range(2,10,1):
   print(k,"X",i,"=",i*k,end=" ")
 print("\n")

2 X 1 = 2 3 X 1 = 3 4 X 1 = 4 5 X 1 = 5 6 X 1 = 6 7 X 1 = 7 8 X 1 = 8 9 X 1 = 9

2 X 2 = 4 3 X 2 = 6 4 X 2 = 8 5 X 2 = 10 6 X 2 = 12 7 X 2 = 14 8 X 2 = 16 9 X 2 = 18

2 X 3 = 6 3 X 3 = 9 4 X 3 = 12 5 X 3 = 15 6 X 3 = 18 7 X 3 = 21 8 X 3 = 24 9 X 3 = 27

2 X 4 = 8 3 X 4 = 12 4 X 4 = 16 5 X 4 = 20 6 X 4 = 24 7 X 4 = 28 8 X 4 = 32 9 X 4 = 36

2 X 5 = 10 3 X 5 = 15 4 X 5 = 20 5 X 5 = 25 6 X 5 = 30 7 X 5 = 35 8 X 5 = 40 9 X 5 = 45

2 X 6 = 12 3 X 6 = 18 4 X 6 = 24 5 X 6 = 30 6 X 6 = 36 7 X 6 = 42 8 X 6 = 48 9 X 6 = 54

2 X 7 = 14 3 X 7 = 21 4 X 7 = 28 5 X 7 = 35 6 X 7 = 42 7 X 7 = 49 8 X 7 = 56 9 X 7 = 63

2 X 8 = 16 3 X 8 = 24 4 X 8 = 32 5 X 8 = 40 6 X 8 = 48 7 X 8 = 56 8 X 8 = 64 9 X 8 = 72

2 X 9 = 18 3 X 9 = 27 4 X 9 = 36 5 X 9 = 45 6 X 9 = 54 7 X 9 = 63 8 X 9 = 72 9 X 9 = 81

In [86]:
i = 0

while(i<3):
  print(i)
  i = i+1

0
1
2

In [5]:
def menu():
  print("#######")
  print("# 1. 덧셈   #")
  print("# 2  뺄셈   #")
  print("# 3. 나눗셉   #")
  print("# 4. 곳셉   #")
  print("# 5. 종료   #")

def add():
  num1 = float(input("첫번쨰 숫자를 입력: "))
  num2 = float(input("두번쨰 숫자를 입력: "))
  sum = num1+num2
  return sum

def ma():
  num1 = float(input("첫번쨰 숫자를 입력: "))
  num2 = float(input("두번쨰 숫자를 입력: "))
  sum = num1-num2
  return sum

def na():
  num1 = float(input("첫번쨰 숫자를 입력: "))
  num2 = float(input("두번쨰 숫자를 입력: "))
  sum = num1/num2
  return sum

def gob():
  num1 = float(input("첫번쨰 숫자를 입력: "))
  num2 = float(input("두번쨰 숫자를 입력: "))
  sum = num1*num2
  return sum


while True:
  menu()
  select = int(input("메뉴를 선택: "))
  if select== 5:
    break
  elif select == 1:
    sum = add()
    print("두수의 덧셈 결과: ", sum)
  elif select ==2:
    ma = ma()
    print("두수의 뺄셈 결과: ", ma)
  elif select ==3:
    na = na()
    print("두수의 나눗셈 결과: ", na)
  elif select ==4:
    gob = gob()
    print("두수의 곳셉 결과: ", gob)

#######
# 1. 덧셈   #
# 2  뺄셈   #
# 3. 나눗셉   #
# 4. 곳셉   #
# 5. 종료   #
메뉴를 선택: 1
첫번쨰 숫자를 입력: 10
두번쨰 숫자를 입력: 30
두수의 덧셈 결과:  40.0
#######
# 1. 덧셈   #
# 2  뺄셈   #
# 3. 나눗셉   #
# 4. 곳셉   #
# 5. 종료   #
메뉴를 선택: 2
첫번쨰 숫자를 입력: 30
두번쨰 숫자를 입력: 20
두수의 뺄셈 결과:  10.0
#######
# 1. 덧셈   #
# 2  뺄셈   #
# 3. 나눗셉   #
# 4. 곳셉   #
# 5. 종료   #
메뉴를 선택: 3
첫번쨰 숫자를 입력: 20
두번쨰 숫자를 입력: 10
두수의 나눗셈 결과:  2.0
#######
# 1. 덧셈   #
# 2  뺄셈   #
# 3. 나눗셉   #
# 4. 곳셉   #
# 5. 종료   #
메뉴를 선택: 4
첫번쨰 숫자를 입력: 30
두번쨰 숫자를 입력: 20
두수의 곳셉 결과:  600.0
#######
# 1. 덧셈   #
# 2  뺄셈   #
# 3. 나눗셉   #
# 4. 곳셉   #
# 5. 종료   #
메뉴를 선택: 5

In [14]:
for i in [0,1,2,3,4] :
  print(i, "컴퓨터과 3학년 1반")

0 컴퓨터과 3학년 1반
1 컴퓨터과 3학년 1반
2 컴퓨터과 3학년 1반
3 컴퓨터과 3학년 1반
4 컴퓨터과 3학년 1반

In [16]:
for i in ["봄","여름","가을","겨울"] :
  print(i, "컴퓨터과 3학년 1반")

봄 컴퓨터과 3학년 1반
여름 컴퓨터과 3학년 1반
가을 컴퓨터과 3학년 1반
겨울 컴퓨터과 3학년 1반